.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.login-form input {
  background: #2e2e2e;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #555;
  color: white;
}

.login-form button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.login-form button:hover {
  background: #333;
}
